.main{
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.form-group input{
   width: 500px;
   border-radius: 5px;
}
.btn_enter {
    text-align: center;
    margin-left: 165px;
    font-size: 15px;
    padding: 5px 35px;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
} 
.btn_enter:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
.btn_enter:active { background: rgb(152,15,0); } /* при нажатии */